.friends {
  margin-top: 50px;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  padding: 2px 0px 2px 15px;
  margin: 15px;
  gap: 10px;
  background-color: white;
  border: 1px solid rgba(32, 32, 32, 0.411);
  border-radius: 2px;
  box-shadow: 3px 3px 14px 0px rgb(135, 135, 141);
}

.name {
  font-size: 20px;
}

/* .status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
} */

.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #009739;
  border-radius: 50%
}

.nonActive {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #db0f27;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: rgb(223, 216, 216);
  border-radius: 3px;
  box-shadow: 3px 3px 14px 0px rgb(135, 135, 141);
}
